* {
    margin: 5px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #24C7B1;
}

.container2 {
    max-width: 1366px;
    margin: 0px auto;
}

h1{
    color:#F7F1DF;
    font-size: 40px;
}

.planilha{
    display: flex;
    justify-content: center;
    padding: 2px;
}

.box1 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-size: 30px;
}

.morte {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    font-size: 30px;
}

.box2 {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    font-size: 24px; 
}

.box3 {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    font-size: 25px;
}

.trabalho {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

.reconhecimento {
    flex: 1;
    display: flex;
    justify-content: end;
    font-size: 24px;
}

.box4 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.creditos {
    width: 400px;
    height: 300px;
    border: 3px solid #1D858C;
    background-color: #F7F1DF;
    font-size: 27px;
}